/* .ue {
	font-size: 25px;
	text-align: center;
	/* margin-top: 80px;
}

.uue {
	text-align: center;
	margin-top: 10px;
}

.box {
	background-color: black;
	display: flex;
	height: 300px;
	width: 500px;
	justify-content: center;
	align-items: center;
	margin: auto;
	border-radius: 2%;
	margin-top: 75px;
} */
